.hiddenDay {
  visibility: hidden;
}

.day {

  cursor: pointer;
  color: var(--accent-color);
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.day:hover {
  background-color: var(--accent-color);
  border-radius: 10px;
  color: white;
}

.selectedDay {
  @extend .day;
  @extend .day:hover;
}

.currentDay {
  @extend .day;
  position: relative;
}

.currentDay::before {
  content: '.';
  /*  display: inline-block;*/

  position: absolute;
  top: -0.5rem;
  left: 0;

  color: red;
  font-size: 20px;

  text-align: center;
  width: 100%;

}

.eventsContainer{
  display: flex;
}